body {
    background-color: #000000;
    margin: 0;
    cursor: move;
    overflow: hidden;
}
#tip {
    color: #ffffff;
    position: absolute;
    top: 0;
    z-index: 999;
}

.btn{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
}

#compass {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 4px;
    bottom: 4px;
    border-radius: 25px;
    background-image: url('../images/compass.svg');
    cursor: default;
    z-index: 999;
}
